{% extends 'app/base.html' %}

{% block content %}
<div class="container mt-5" data-aos="fade-up">
    <div class="row justify-content-center">
        <div class="col-md-6 shadow p-4 rounded contact-card">
            <h2 class="text-center mb-4">Contact Me</h2>
            
            <form method="POST">
                {% csrf_token %}
                
                {% for field in form %}
                <div class="mb-3" data-aos="zoom-in">
                    <label class="form-label">{{ field.label }}</label>
                    {{ field }}
                    {% if field.errors %}
                        <div class="text-danger small">{{ field.errors }}</div>
                    {% endif %}
                </div>
                {% endfor %}
                
                <button type="submit" class="btn btn-primary w-100">Send Message</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}